<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="client" class="com.Entity.Client">
        <constructor-arg index="0" value="1"/>
        <constructor-arg index="1" value="John Green"/>
    </bean>

    <bean id="dateFormat" class="java.text.DateFormat" factory-method="getDateTimeInstance"/>

    <bean id="event" class="com.loggers.Event" scope="prototype">
        <constructor-arg>
            <bean class="java.util.Date"/>
        </constructor-arg>
        <constructor-arg ref="dateFormat">
        </constructor-arg>
    </bean>

    <bean id="consoleEventLogger" class="com.loggers.ConsoleEventLoggerImpl"/>

    <bean id="fileEventLogger" class="com.loggers.FileEventLogger" init-method="init">
        <constructor-arg value="target/eventLog.txt"/>
    </bean>

    <bean id="cacheFileEventLogger" class="com.loggers.CacheFileEventLogger" parent="fileEventLogger"
          destroy-method="destroy">
        <constructor-arg index="1" value="5"/>
    </bean>

    <bean id="app" class="com.App">
        <constructor-arg index="0" ref="client"/>
        <constructor-arg index="1" ref="fileEventLogger"/>
    </bean>
</beans>